* {
  font-family: "Signika Negative", sans-serif;
}

.box {
  background-color: rgba(181, 201, 195);
  width: 25vw;
  padding: 15px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
}

#album-display {
  display: flex;
  flex-wrap: wrap;
}

.imgs {
  width: 20vw;
  border-radius: 10px;
  margin: 10px;
}

.text-box {
  border-radius: 5px;
  margin: 5px;
}

.btn {
  border-radius: 5px;
  margin-top: 5px;
  font-size: 30px;
}

.hero-form-input {
  display: flex;
  justify-content: center;
}

.form-input {
  text-align: center;
}

.labels {
  font-size: 30px;
}

.text-box {
  padding: 10px;
}

.button {
  border-radius: 5px;
}

.header {
  font-size: 45px;
}

.artist {
  font-size: 35px;
}

body {
  background-color: rgba(202, 177, 189);
}

h1 {
  font-size: 60px;
  text-align: center;
}
